# python cache files
*.pyc
__pycache__/*

# huge data files
data/datasets/*
production/files/*
temp/*
*checkpoint.ipynb
*.ipynb_checkpoints/
.DS_Store
._*.py
files/*
baselines/results/*
data/*
*.feather
*.h5
*.tsv
*.xlsx
*.json
*.csv
*.pdb
*.out
*.err
*.fasta
*.pdb.gz
*.pdb
*.pkl
*.pkl.gz
*.pt
*.dbtype
*.index
*.lookup
*.source
results/intermediate/*
results/structural/*
case/fusarium_venenatum/data/pdbs/*
case/fusarium_venenatum/middle/*
*.png
*cif
*.ai
*._.DS_Store
*._*
case/case_promiscuous/*
